/*This stylesheet sets the internal gridlines of a table to be solid, 4 pixels wide and black*/

td:first-child {
  text-align: center;
}
td {
  text-align: right;
}
td,
th {
  border: 4px solid black;
}

/* By likith */
