h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Trebuchet MS", Arial, sans-serif;
}
h1 {
  font-size: 36pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  font-size: 18pt;
}
h4 {
  font-size: 16pt;
}
h5 {
  font-size: 14pt;
}
h6 {
  font-size: 12pt;
}
p {
  font-size: 10pt;
}
td {
  border: solid 2px;
}
