/* Last edited by Likith for Tawara Balloon Safaris Likith Aditya Karapakula-IN841-0034

background colour is d2,74,ab*/

body {
  background-color: #74abd2;
}
h1,
h2,
h3 {
  font-family: "Times CY", "Times New Roman", serif;
  color: #000000;
}

h1 {
  text-align: center;
  font-size: 16pt;
}
h1 {
  text-align: center;
  font-size: 12pt;
}
h1 {
  text-align: center;
  font-size: 10pt;
}

table {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border-spacing: 10px;
  border: 1px solid #000000;
  border-collapse: separate;
}

td {
  padding: 10px;
}
