h1    	       {font-family: Calibri,Arial,sans-serif;
      		font-size: 30pt;
      		font-weight: bold;
       		color:#000080;}

p              {font-family: Calibri,Arial,sans-serif;
                font-size: 12pt;
                color:#000080;}

body           {background-color: #f08ce6;}