h1           { color: #FF0000;
	       font-family: fantasy;
               font-size: 36pt; 
               text-align: center }

h2           { color: #FF0000; 
               font-family: fantasy; 
               font-size: 30pt; 
               text-align: left }

h3           { color: #FF3300; 
               font-family: Arial,Helvetica,sans-serif;  
               font-size: 16pt; 
               text-align: center; 
	       font-weight: bold }

h4           { color: #FF6600; 
               font-family: Arial,Helvetica,sans-serif; 
               font-size: 16pt; 
               text-align: left }

h5           { color: #FF9900; 
               font-family: Arial,Helvetica,sans-serif; 
               font-size: 16pt; 
               text-align: left }

h6           { color: #C99900; 
               font-family: Arial,Helvetica,sans-serif; 
               font-size: 12pt; 
               text-align: left;
	       font-style: italic }

p            { color: #663300; 
               font-family: Arial,Helvetica,sans-serif; 
               font-size: 14pt; 
               text-align: left }

body 	     { background-color: #EEE8AA}

